<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h1>IdeaBox</h1>
    <form action='/' method= 'POST'>
      <p><h3>
        Your Idea:
      </h3></p>
      <h5>Your Name:<input type='text' name='name'/></h5>
     <h5>Your birthday:<input type='text' name='birthday'/></h5>
      <br/><br/>
      <h5>Did you like this?:<input type='text' name='like'/></h5>
      </textarea><br/>
      <input type='submit'/>
    </form>
    </ul>
  </body>
</html>